{
	"swagger": "2.0",
	"info": {
		"title": "Companies House",
		"description": "API for api.companieshouse.gov.uk",
		"version": "0.0.0"
	},
	"host": "api.companieshouse.gov.uk",
	"schemes": ["https"],
	"paths": {
		"/company/{company_number}/registered-office-address": {
			"get": {
				"tags": ["Company"],
				"description": "Get registered office",
				"operationId": "get_registered_office",
				"produces": ["application/json"],
				"parameters": [{
					"name": "company_number",
					"in": "path",
					"description": "Company number",
					"required": true,
					"type": "string",
					"x-example": ""
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/RegisteredOffice"
						},
						"examples": {
							"application/json": {
								"etag": "32432476834636584df4345h4k55",
								"kind": "registered-office-address",
								"links": {
									"self": "/company/0132245/registered-office-address"
								},
								"address_line_1": "Looney Toones House, 20 Test Street",
								"address_line_2": "Testerton",
								"locality": "Test",
								"postal_code": "T3ST 5ND"
							}
						}
					}
				},
				"security": []
			}
		}
	},
	"definitions": {
		"Links": {
			"description": "Model for Links",
			"required": ["self"],
			"properties": {
				"self": {
					"type": "string",
					"x-example": "/company/0132245/registered-office-address"
				}
			}
		},
		"RegisteredOffice": {
			"description": "Model for RegisteredOffice",
			"required": ["address_line_1"],
			"properties": {
				"address_line_1": {
					"type": "string",
					"x-example": "Looney Toones House, 20 Test Street"
				},
				"address_line_2": {
					"type": "string",
					"x-example": "Testerton"
				},
				"etag": {
					"type": "string",
					"x-example": "32432476834636584df4345h4k55"
				},
				"kind": {
					"type": "string",
					"x-example": "registered-office-address"
				},
				"links": {
					"$ref": "#/definitions/Links",
					"x-example": "{\n  \"self\": \"/company/0132245/registered-office-address\"\n}"
				},
				"locality": {
					"type": "string",
					"x-example": "Test"
				},
				"postal_code": {
					"type": "string",
					"x-example": "T3ST 5ND"
				}
			}
		}
	},
	"securityDefinitions": {
		"Basic Auth": {
			"description": "Test",
			"type": "basic"
		}
	},
	"security": [],
	"tags": [{
		"name": "Company",
		"description": "Operations about Company"
	}]
}
